@import "reset.css";
@import "App.scss";
@import "DoneTasksContainer.scss";

*,
body {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
